Project Name is Cricket team.
Before come to our own issue first of that there is a brief introduction about cricket:
Cricket is a national sport which is played between two teams of eleven players each who score runs (points) by running between
Two sets of three small, wooden posts called wickets.  Each of the wickets is at one end of a rectangle of
Flattened grass called the pitch. Around the pitch is a much larger oval of grass called the cricket ground.
Our project is to provide more facilities in managing a cricket team, first of all I will discuss our project requirements here you are:
In this project we will discuss these five things :( cricket team squad, fixture, ranking, history of matches, news about this team).
1.	Squad: in the squad we have information about these things :( player, coaches, team managers, player list for match).
2.	Fixture: in this section we are going to give information about the upcoming matches in these format :( warm-up matches, world cup matches (T20 & ODI), series matches). This information is about one year upcoming matches.  
3.	Ranking : in this section we will show you the team position in international ranking which is provided from ICC (international cricket council), include these information :( test rank, ODI rank, T20I rank).
4.	 Matches history: in this section we will show all information about the past matches of this team (how many matches they played, how many wins the have and how many matches they lost).
5.	News: in this part we will show all news from the ICC and another famous webpages about this cricket team and also include new news about cricket rules and regulation.
Note: these requirement are not fixed if they need to change we will change them.